<!DOCTYPE html>
<html>
<head>
  <title>CrawlingProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>

<body style="margin-top: 60px;">

<%= nav_bar fixed: :top, brand: "Flipkart Crawler" do %>
    <%= menu_group do %>
        <%if (current_user)%>
		  <%= menu_item "Dashboard", dashboard_products_path %>
		  <%= menu_item "Your Products", products_path %>
		<% end %>
    <% end %>
    <% if current_user %>
	    <%= menu_group pull: :right do %>
	        <%= menu_item "Logout", destroy_user_session_path %>
	    <% end %>
    <% else %>
        <%= menu_group pull: :right do %>
	        <%= menu_item "Login", new_user_session_path %>
	    <% end %>
    <% end %>
<% end %>

<div class="container">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
</div>

</body>
</html>
